{% include "header.html" %}

<div class="dashboard-main-body">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
        <h6 class="fw-semibold mb-0">Batch Shift Report</h6>
        <ul class="d-flex align-items-center gap-2">
            <form method="POST" action="{% url 'batch_shift' %}">
                {% csrf_token %}
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div>
                        <label for="from_datetime">Plant</label>
                        <select name="plant_id" class="form-select form-select-sm w-auto" required>
                            <option disabled {% if not request.POST.plant_id %}selected{% endif %}>Select Plant</option>
                            {% for plant in plants %}
                            <option value="{{ plant.plant_id }}" {% if request.POST.plant_id == plant.plant_id|stringformat:"s" %}selected{% endif %}>
                                {{ plant.plant_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="shift">Shift</label>
                        <select name="shift" class="form-select form-select-sm w-auto" required>
                            <option disabled {% if not request.POST.shift %}selected{% endif %}>Select Shift</option>
                            <option value="shiftA" {% if request.POST.shift == "shiftA" %}selected{% endif %}>Shift A</option>
                            <option value="shiftB" {% if request.POST.shift == "shiftB" %}selected{% endif %}>Shift B</option>
                            <option value="shiftC" {% if request.POST.shift == "shiftC" %}selected{% endif %}>Shift C</option>
                        </select>
                    </div>
                    <div>
                        <label for="from_datetime">Select Date </label>
                        <input type="date" name="start_date" class="form-control" value="{{ request.POST.start_date|default:start_date }}" required>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary-600" style="margin-top: 22px;">
                        Submit
                    </button>
                </div>
            </form>
        </ul>
    </div>
    <div class="print_batch_container">
        <div class="text-end no-print ">
            <button class="btn btn-sm btn-success radius-8 d-inline-flex align-items-center gap-1" id="print_batch_report"><iconify-icon icon="solar:download-linear" class="text-xl"></iconify-icon>Download PDF</button>
        </div>
    <div class="print-only text-center"><h6 style="color: #61acd9;">{{  plant_name.plant_name }}</h6></div>
    <div class="row">
        <div class=" col-6 print-only text-left"><h6 style="color: #61acd9;">Shift Wise Batch Reports</h6></div>
        <div class=" col-6 print-only text-center"><h6 style="color: #61acd9;">{{ request.POST.start_date|default:start_date }}</h6></div>
    </div>
    
    {% if batch_counts %}
        {% for item in batch_counts %}
            <div class="card basic-data-table mb-24">
                <div class="card-header">
                    <div class="d-flex gap-3">
                        <h5 class="card-title mb-0">Recipe ID : {{ item.RecipeID }}</h5>
                        <h5 class="card-title mb-0">Batch Count : {{ item.count }}</h5>
                        <h5 class="card-title mb-0">
                            {% if shift == "shiftA" %}
                              Shift : A
                            {% elif shift == "shiftB" %}
                              Shift : B
                            {% elif shift == "shiftC" %}
                              Shift : C
                            {% else %}
                              {{ shift }}
                            {% endif %}
                        </h5>
                    </div>
                    
                </div>
                <div class="card-body">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Batch No</th>
                                <th scope="col">Start Time</th>
                                {% for mitem in materialName %}
                                <th scope="col">{{ mitem.MatName }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Set WT</td>
                                <td></td>
                                <td>{{ item.total_soya|floatformat:2 }}</td>
                                <td>{{ item.total_ddgs|floatformat:2 }}</td>
                                <td>{{ item.Oil1SetWt|floatformat:2 }}</td>
                                <td>{{ item.Oil2SetWt|floatformat:2 }}</td>
                                <td>{{ item.Premix1Set|floatformat:2 }}</td>
                                <td>{{ item.Premix2Set|floatformat:2 }}</td>
                            </tr>
                            {% for allitem in item.actual_data %}
                            <tr>
                                <td>{{ allitem.BatchNum|floatformat:2 }}</td>
                                <td>{{ allitem.stTime }}</td>
                                <td>{{ allitem.total_soya|floatformat:2 }}</td>
                                <td>{{ allitem.total_ddgs|floatformat:2 }}</td>
                                <td>{{ allitem.Oil1SetWt|floatformat:2 }}</td>
                                <td>{{ allitem.Oil2SetWt|floatformat:2 }}</td>
                                <td>{{ allitem.Premix1Set|floatformat:2 }}</td>
                                <td>{{ allitem.Premix2Set|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-warning">No data found</div>
    {% endif %}     
    </div>
</div>

{% include "footer.html" %}

<script>
    document.getElementById("print_batch_report").addEventListener("click", function () {
        var containers = document.getElementsByClassName("print_batch_container");
        var printContents = "";

        for (var i = 0; i < containers.length; i++) {
            printContents += containers[i].outerHTML;
        }

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload(); 
    });
</script>