{% include "header.html" %}

<div class="custom-bg">
    <div class="container container--xl">
        <div class="py-res-50">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="user-grid-card position-relative border radius-16 overflow-hidden bg-base h-100">
                        <div class="pb-24 ms-16 mb-24 me-16 ">
                            <div class="text-center border border-top-0 border-start-0 border-end-0">
                                <h6 class="mb-0 mt-16">NMA Group</h6>
                                <span class="text-secondary-light mb-16"> </span>
                            </div>
                            <div class="mt-24">
                                <ul>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light">Web site</span>
                                        <span class="w-70 text-secondary-light fw-medium">: <a
                                                href="https://nmagroup.in/" target="_blank"><span
                                                    style="color: #487fff;">https://nmagroup.in/</span></a></span>
                                    </li>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light"> Email</span>
                                        <span class="w-70 text-secondary-light fw-medium">: <a
                                                href="mailto:">tarun@nmaindia.com</a>, guptarc@nmaindia.com</span>
                                    </li>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light"> Phone Number</span>
                                        <span class="w-70 text-secondary-light fw-medium">:
                                            +91 81469-57697,<br> +91 98765-44401</span>
                                    </li>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light">Head Office</span>
                                        <span class="w-70 text-secondary-light fw-medium">: SCO 21, Sector 7-C, Madhya Marg, Chandigarh 160019</span>
                                    </li>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light"> Branch Office </span>
                                        <span class="w-70 text-secondary-light fw-medium">: 64, Guru Nanak Market, Focal Point, Near Giaspura Railway Crossing, Ludhiana – 141010</span>
                                    </li>
                                    <li class="d-flex align-items-center gap-1 mb-12">
                                        <span class="w-30 text-md fw-semibold text-primary-light"> Map Location</span>
                                        <span class="w-70 text-secondary-light fw-medium">: <a href="https://maps.app.goo.gl/RJugjkWocEQ9XRdn8" target="_blank"> <span style="color: #487fff;">Click Here</span></a> </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-lg-block d-none">
                    <img src="/static/asset/images/maintenance.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}