{% include "header.html" %}

<div class="dashboard-main-body">

    <div class="dashboard-main-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
            <h6 class="fw-semibold mb-0">Recipe Shift Report</h6>
            
            <ul class="d-flex align-items-center gap-2">
                <form method="POST" action="{% url 'custom_recipe' %}">
                    {% csrf_token %}
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <div>
                            <label for="from_datetime">Plant</label>
                            <select name="plant_id" class="form-select form-select-sm w-auto" required>
                                <option disabled {% if not request.POST.plant_id %}selected{% endif %}>Select Plant</option>
                                {% for plant in plants %}
                                <option value="{{ plant.plant_id }}" {% if request.POST.plant_id == plant.plant_id|stringformat:"s" %}selected{% endif %}>
                                    {{ plant.plant_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="from_datetime">From Date </label>
                            <input type="date" name="start_date" class="form-control" value="{{ request.POST.start_date|default:start_date }}" required>
                        </div>
                        <div>
                            <label for="end_datetime">To Date </label>
                            <input type="date" name="end_date" class="form-control" value="{{ request.POST.end_date|default:end_date }}" required>
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary-600" style="margin-top: 22px;">
                            Submit
                        </button>
                    </div>
                </form>
            </ul>
        </div>

        <div class="print_container">
            <div class="text-end no-print ">
                <button class="btn btn-sm btn-success radius-8 d-inline-flex align-items-center gap-1" id="print_recipe_report"><iconify-icon icon="solar:download-linear" class="text-xl"></iconify-icon>Download PDF</button>
            </div>
        <div class="print-only text-center"><h6 style="color: #61acd9;">{{  plant_name.plant_name }}</h6></div>
        <div class="row">
            <div class="col-4 print-only text-left"><h6 style="color: #61acd9;">Custom Recipe Reports</h6></div>
            <div class="col-4 print-only text-center"><h6 style="color: #61acd9;">{{ request.POST.start_date|default:start_date }}</h6></div>
            <div class="col-4 print-only text-center"><h6 style="color: #61acd9;">{{ request.POST.end_date|default:end_date }}</h6></div>
        </div>
        
        {% if batch_actual %} 
            {% for batch in batch_actual %}
            <div class="card basic-data-table mb-5 mt-3">
                <div class="card-header">
                    <div class="d-flex gap-3">
                    <h5 class="card-title mb-0">Recipe Name : {{ batch.RecipeName }} </h5>
                    </div>
                    
                </div>
                <div class="card-body" >

                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Bin No</th>
                                <th scope="col">Material Name</th>
                                <th scope="col">Set WT(kg)</th>
                                <th scope="col">Actual WT(kg)</th>
                                <th scope="col">Error(kg)</th>
                                <th scope="col">Error(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>SOYA</td>
                                <td>{{ batch.set_total_soya|floatformat:2 }}</td>
                                <td>{{ batch.total_soya|floatformat:2 }}</td>
                                <td>{{ batch.error_soya|floatformat:2 }}</td>
                                <td>{{ batch.error_soya_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>DDGS</td>
                                <td>{{ batch.set_total_ddgs|floatformat:2 }}</td>
                                <td>{{ batch.total_ddgs|floatformat:2 }}</td>
                                <td>{{ batch.error_ddgs|floatformat:2 }}</td>
                                <td>{{ batch.error_ddgs_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>MAIZE</td>
                                <td>{{ batch.set_total_maize|floatformat:2 }}</td>
                                <td>{{ batch.total_maize|floatformat:2 }}</td>
                                <td>{{ batch.error_maize|floatformat:2 }}</td>
                                <td>{{ batch.error_maize_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>MBM</td>
                                <td>{{ batch.set_total_mbm|floatformat:2 }}</td>
                                <td>{{ batch.total_mbm|floatformat:2 }}</td>
                                <td>{{ batch.error_mbm|floatformat:2 }}</td>
                                <td>{{ batch.error_mbm_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>MDOC</td>
                                <td>{{ batch.set_total_mdoc|floatformat:2 }}</td>
                                <td>{{ batch.total_mdoc|floatformat:2 }}</td>
                                <td>{{ batch.error_mdoc|floatformat:2 }}</td>
                                <td>{{ batch.error_mdoc_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Oil 1</td>
                                <td>{{ batch.set_total_oil|floatformat:2 }}</td>
                                <td>{{ batch.total_oil|floatformat:2 }}</td>
                                <td>{{ batch.error_oil|floatformat:2 }}</td>
                                <td>{{ batch.error_oil_pct|floatformat:2 }}%</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td><strong>{{ batch.set_total_all|floatformat:2 }}</strong></td>
                                <td><strong>{{ batch.total_all|floatformat:2 }}</strong></td>
                                <td><strong>{{ batch.error_total|floatformat:2 }}</strong></td>
                                <td><strong>{{ batch.error_total_pct|floatformat:2 }}%</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
            {% else %}
        <div class="alert alert-warning">No data found</div>
        {% endif %}
    </div>

    </div>
</div>

{% include "footer.html" %}

<script>
    document.getElementById("print_recipe_report").addEventListener("click", function () {
        var containers = document.getElementsByClassName("print_container");
        var printContents = "";

        for (var i = 0; i < containers.length; i++) {
            printContents += containers[i].outerHTML;
        }

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload(); 
    });
</script>