{% include "header.html" %}

<div class="dashboard-main-body">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
        <h6 class="fw-semibold mb-0">Daily Batch  Report</h6>
        <ul class="d-flex align-items-center gap-2">
            <form method="GET" action="{% url 'daily_batch' %}">
                
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div>
                        <label for="from_datetime">Plant</label>
                        <select name="plant_id" class="form-select form-select-sm w-auto" required>
                            {% for plant in plants %}
                            <option value="{{ plant.plant_id }}" {% if request.GET.plant_id == plant.plant_id|stringformat:"s" %}selected{% endif %}>
                                {{ plant.plant_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                     
                   <div>
                        <label for="start_date" class="form-label">Select Date</label>
                        <input type="date" id="start_date" name="start_date" class="form-control form-control-sm w-auto"
                            value="{{ request.GET.start_date|default:start_date }}" required>
                    </div>
                     

                    <button type="submit" class="btn btn-sm btn-primary-600" style="margin-top: 22px;">
                        Submit
                    </button>
                </div>
            </form>
        </ul>
    </div>
    <div class="print_batch_container">
        <div class="text-end no-print ">
            <button class="btn btn-sm btn-success radius-8 d-inline-flex align-items-center gap-1" id="print_batch_report"><iconify-icon icon="solar:download-linear" class="text-xl"></iconify-icon>Download PDF</button>
        </div>
    <div class="print-only text-center"><h6 style="color: #61acd9;">{{  plant_name.plant_name }}</h6></div>
    <div class="row justify-content-around"> 
    <div class="col-6 print-only text-left"><h6 style="color: #61acd9;">Daily Batch Reports</h6></div>
    <div class="col-6 print-only text-center "><h6 style="color: #61acd9;">Date : {{ request.GET.start_date|default:start_date }}</h6></div>
    </div>
         
        {% if filtered_data %}
            {% for item in filtered_data %}
                <div class="card basic-data-table mb-24">
                    <div class="card-header">
                        <div class="d-flex gap-3">
                            <h5 class="card-title mb-0">Recipe Name : {{ item.RecipeName }}</h5>
                            <h5 class="card-title mb-0">Batch Count : {{ item.BatchCount }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div style="overflow-x: auto;">
                            <table class="table bordered-table mb-0">
                                <thead>
                                    <tr>
                                        <th>Batch No</th>
                                        <th>Start Time</th>
                                        {% for matname in material_name_list %}
                                            <th>{{ matname }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Set WT</td>
                                        <td></td>
                                        {% for val in item.Materials %}
                                            <td>{{ val|floatformat:2 }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% for batch in item.ActualBatches %}
                                        <tr>
                                            <td>{{ batch.batch_no }}</td>
                                            <td>{{ batch.start_time }}</td>
                                            {% for act in batch.values %}
                                                <td>{{ act|floatformat:2 }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">No data found.</div>
        {% endif %}


         
    </div>
</div>

{% include "footer.html" %}

<script>
    document.getElementById("print_batch_report").addEventListener("click", function () {
        var containers = document.getElementsByClassName("print_batch_container");
        var printContents = "";

        for (var i = 0; i < containers.length; i++) {
            printContents += containers[i].outerHTML;
        }

        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload(); 
    });
</script>