{% include "header.html" %}
{% load static %}


<div class="dashboard-main-body">

    <div class="card basic-data-table">
        <div
            class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
            <div class="d-flex align-items-center flex-wrap gap-3">
                <h6>Plant List</h6>
            </div>
            <span>
                <button type="button"
                    class="btn btn-primary text-sm btn-sm px-12 py-12 w-100 radius-8 d-flex align-items-center gap-2 mb-32 add-plant">
                    <iconify-icon icon="fa6-regular:square-plus" class="icon text-lg line-height-1"></iconify-icon>
                    Add Plant
                </button>
            </span>

        </div>

        <div class="card-body">
            <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Plant id</th>
                        <th scope="col">Plant Profile</th>
                        <th scope="col">Plant Owner</th>
                        <th scope="col">Palnt Name</th>
                        <th scope="col">Shift A</th>
                        <th scope="col">Shift B</th>
                        <th scope="col">Shift C</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plant in plants %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ plant.plant_id }}</td>
                        <td><img  src="{% static plant.profile_image %}" alt="User Image" style="max-width: 100px; height: 50px;" />  </td>
                        <td>{{ plant.plant_owner.username }}</td>
                        <td>{{ plant.plant_name }}</td>
                        <td>{{ plant.shiftA }}</td>
                        <td>{{ plant.shiftB }}</td>
                        <td>{{ plant.shiftC }}</td>
                        <td>
                            <button
                                class="w-32-px h-32-px bg-warning-focus text-warning-main rounded-circle d-inline-flex align-items-center justify-content-center edit-plant"
                                data-id="{{ plant.id }}" data-plant_name="{{ plant.plant_name }}" data-profile_image="{{ plant.profile_image }}"
                                data-plant_owner_id="{{ plant.plant_owner_id }}" data-shiftA="{{ plant.shiftA }}">
                                <iconify-icon icon="lucide:edit"></iconify-icon>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No users found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Add Event -->
<div class="modal fade" id="plantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog modal-dialog-centered">
        <div class="modal-content radius-16 bg-base">
            <div class="modal-header py-16 px-24 border border-top-0 border-start-0 border-end-0">
                <h1 class="modal-title fs-5 btnname" id="exampleModalLabel">Add Plant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-24">
                <form id="userForm" method="POST" action="{% url 'save_plant' %}"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id">
                    <div class="row">
                        <div class="col-6 mb-20">
                            <label class="form-label fw-semibold text-primary-light text-sm mb-8">Plant Owner
                            </label>
                            <select id="plant_owner_id" name="plant_owner_id" class="form-control radius-8 form-select"
                                required>
                                <option value="" disabled selected>Select Manager</option>
                                {% for manager in managers %}
                                <option value="{{ manager.id }}">{{ manager.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 mb-20">
                            <label class="form-label fw-semibold text-primary-light text-sm mb-8">Plant Name </label>
                            <input type="text" id="plant_name" name="plant_name" class="form-control radius-8"
                                placeholder="Enter Plant Name " required>
                        </div>
                        <div class="col-6 mb-20">
                            <label class="form-label fw-semibold text-primary-light text-sm mb-8">Profile Photo </label>
                            <input type="file" id="profile_image" name="profile_image" class="form-control radius-8"
                               accept="image/*"  >
                            <img id="profile_image_preview" src="" alt="User Image" style="max-width: 100px; display: none; margin-top: 8px;" />  
                        </div>

                        <div class="col-6 mb-20">
                            <label class="form-label fw-semibold text-primary-light text-sm mb-8">Shift Start
                                Time</label>
                            <input type="time" id="shiftA" name="shiftA" class="form-control radius-8"
                                placeholder="Enter Shift Start Time" required>
                        </div>

                        <div class="d-flex align-items-center justify-content-center gap-3 mt-24">
                            <button type="submit"
                                class="btn btn-primary btn-sm border border-primary-600 text-md px-24 py-12 radius-8 btnname">
                                Add Plant
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

<script>
     $("#profile_image_preview").hide();
    $(document).on("click", ".edit-plant", function () {
        $("#id").val($(this).data('id'));
        $("#plant_name").val($(this).data('plant_name'));
        $("#shiftA").val($(this).data('shiftA'));
        $("#plant_owner_id").val($(this).data('plant_owner_id'));
        var imagePath = $(this).data('profile_image');  
            if (imagePath) {
                $("#profile_image_preview").attr('src', '/static/' + imagePath).show();
            } else {
                $("#profile_image_preview").hide();
            }
        $(".btnname").text('Edit Plant');
        $("#plantModal").modal('show');
    });

    $(document).on("click", ".add-plant", function () {
        $("#id").val("");
        $("#plant_name").val("");
        $("#plant_owner_id").val("");
        $("#shiftA").val("");
        $("#profile_image").val("");
        $(".btnname").html('Add Plant');
        $("#plantModal").modal('show');
    });
    $(".DELETE").on("click", function () {
        $('#did').val($(this).data('id'))
        $("#deletemodel").modal("show")
    })
</script>